<html>
  <head>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    em{
      background-color: yellow
      }
    body  {
      /*background-image: url("background_4.jpg");*/

      }
      .content{
        max-width: 800px;
        margin: auto;
        margin-top: 50px;
      }
      #last_modified {
          margin-top: 20px;
          margin-bottom: 20px;
      }
      #sample_picture{
        height:350px;
        width: 350px;
        margin: auto;
      }


      #menu_tab{
        padding-top:50px;
        padding-left:30px;
        padding-right:30px;
      }

  </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Iced Almond Drink ( Almond Horchata )</title>
    <!-- Bootstrap core CSS -->

  </head>

  <body>
    <div class="content result">
      <div clas="row">
        <div class="col-sm-6">
          <div id="sample_picture">
            <img src="{{result[3]}}" alt="..." class="img-thumbnail">
          </div>
        </div>
        <div class="col-sm-6 result">

          <h2 id="title">{{result[1]}}</h2>
          <p id="last_modified"><span class="glyphicon glyphicon-time"></span></p>
        </div>
        <div id="category_tag" class="col-sm-6">
          <a href="#" class="btn btn-primary">{{result[5]}}</a>
          <a href="#" class="btn btn-info">{{result[8]}}</a>
          <a href="#" class="btn btn-success">{{result[7]}}</a>
        </div>
      </div>
      <div class="col-sm-12" id="menu_tab">

          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Ingredient</a></li>
            <li><a data-toggle="tab" href="#menu1">Instruction</a></li>

          </ul>

          <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
              <h3>Ingredients</h3>
              <p>
              <tabel><tbody>
                {% for res in result[4] %}
                <tr>
                                                            <td class="visible-if-pro-member" style="width: 12px; padding-left: 2px;">
                                                                        <a href="/recipe/editingredient/1930492/19882323" style="color: #a2a2a2;">
                                                                            <i style="font-size: 6px; position: relative; top: -6px;" class="fa fa-circle-o unlinkedBullet" title="Click to link-in nutrition info"></i>
                                                                        </a>
                                                            </td>

                                                            <td style="min-width: 150px; margin-right: 10px; padding-bottom: 8px;">
                                                                <span class="ingredient  ">

                                                                    <span class="name">{{res[0]}}(about {{res[2]}} {{res[1]}})</span>
                                                                </span>
                                                            </td>
                                                        </tr>
                <br>
{% endfor %}
</tbody></tabel>
              </p>
            </div>
            <div id="menu1" class="tab-pane fade">
              <h3>Instruction</h3>
              <p>{{result[2]}}</p>
            </div>

          </div>

      </div>
<div class = "container recommend"> 
<h3>Recommendation</h3>
<form name="mydetail" action="detail" method="post"><input name="inputDetail" type="hidden" value="{{recommend[0]}}">
          <button type="submit" ><img src = "{{recommend[3]}}" class="img-thumbnail" width="200px">  </button>
          </form>
    
    <img src = "{{result[3]}}" class="img-thumbnail" width="200px">  
  </div> 

</div>


  </body>
</html>
